{% extends "bootstrap/base.html" %}

{% block title %}
Home page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='home-template.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyFlaskApp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{url_for('about')}}">About us</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('signup')}}">Sign up</a></li>
      </ul>
    </div>
    <div class="jumbotron text-center">
      <h1>Welcome to FlaskApp</h1>
      <p class="lead">Flask is a micro web framework written in Python.
        It is classified as a microframework because it does not require particular tools or libraries.
        It has no database abstraction layer, form validation, or any other components where pre-existing third-party
        libraries provide common functions.</p>
    </div>
  </div>
</nav>
{% endblock %}